.question {
    margin-left: 5px;
    margin-top: 7px;
    font-family: 'Dosis', sans-serif;
   
    
}

.radioB {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Dosis', sans-serif;
   /*  margin-top: 2px; */
}

.done-btn {
    margin-top: 15px;
    margin:0 auto;
    display:block;      
}

/* .hide {

} */

